#login-box{
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
h2{
    text-align: center;
}
#username{
    text-align: center;
}
#psw{
text-align: center;
margin-top: 20px;
}
#btn{
   text-align: center;
   margin-top: 20px;
}